<head>
  <title>Beehive</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" >

  <link rel="stylesheet" href="beehive.css" />
</head>

<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
