<h1>Post your buzz</h1>

<form method='post' action='/buzz'>
  <input type='text' name='buzz' placeholder="So, what's the buzz?">
  <label for='post buzz'>
    <input type='submit' value='Post'>
  </label>
</form>
