

.jumbotron {
    padding: 0px;
    margin-bottom: 0px;
    color: inherit;
    background-color: #83d6ff;
    background-size: cover;
    font-size: 200px;
    font-family: helvetica; serif;
    font-weight: bold;
    color: white;
    height: 275px;
}
.brand {
    float: left;
    height: 50px;
    padding-bottom: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 10px;
    line-height: 20px;
    vertical-align: middle;
}
.list-group {
  text-align: center;
}

.list-group-item.active {
  background-color: orange;
  background-image: none;
  border-color: orange;
}
.list-group-item.active:focus, .list-group-item.active:hover {
  background-color: orange;
  background-image: none;
  border-color: orange;
}
.buzz_submit {
  text-align: center;
}

.signout {
  float: right;
}

}
.welcome {
  float: left;
}
/*
body.home_page {
  background: url(http://pre02.deviantart.net/7dc0/th/pre/f/2012/030/7/f/battle_bases_01bg_hd_by_xalien95-d4o49yb.png) no-repeat center center;
  background-size: cover;
}

body.attack_page {
  background: url(http://i.giphy.com/bqrSWsK94zdpS.gif) no-repeat center center;
  background-size: cover;
}

body.play_page {
  background: url(http://vignette2.wikia.nocookie.net/pokemon/images/1/1c/Ethan_Donphan.png/revision/latest?cb=20150605233723) no-repeat center center;
  background-size: cover;
}

body.gameover_page {

  background: url(http://i.giphy.com/dkuZHIQsslFfy.gif);
  background-repeat: repeat;
}
h1 {
  color:red;
  font-family: 'pokemon';
}

#submit {*/
  margin-top: 15px;
}
