<body class = "home_page">
<% if !current_user %>
  <form action="/sessions/new">
  <input type="submit" value="Sign in">
  </form>
  <form action="/users/new">
  <input type="submit" value="Sign up">
  </form>
<% end %>



<body class = "home_page">
<div class = "buzz_submit">
<form method='post' action='/buzz'>
  <input type='text' name='buzz' placeholder="So, what's the buzz?">
  <input type='submit' value='Post'>
</form>
</div>

<div class="list-group">

  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Your Hive</h4>
    <!-- <p class="list-group-item-text">...</p> -->
  </a><br>

  <% @buzz.reverse.each do |buzz| %>

      <i><%= buzz.buzz %></i><br>
      Posted by <%= User.get(buzz.user_id).name %> - @<%= User.get(buzz.user_id).username %> - <%= buzz.time.strftime("%H:%M:%S") %><br><br>

  <% end %>
</div>
