<% if !current_user %>
  <form action="/sessions/new">
  <input type="submit" value="Sign in">
  </form>
  <form action="/users/new">
  <input type="submit" value="Sign up">
  </form>
<% end %>

  </form><h1>Beehive</h1>

<form method='post' action='/buzz'>
  <input type='text' name='buzz' placeholder="So, what's the buzz?">
  <input type='submit' value='Post'>
</form>

<% @buzz.reverse.each do |buzz| %>
  <ul>
    <li><%= buzz.buzz %></li>
    <li>Posted by <%= User.get(buzz.user_id).name %> - @<%= User.get(buzz.user_id).username %> - <%= buzz.time.strftime("%H:%M:%S") %> </li>
  </ul>
<% end %>
