<% if !current_user %>
  <form action="/sessions/new">
  <input type="submit" value="Sign in">
  </form>
  <form action="/users/new">
  <input type="submit" value="Sign up">
  </form>
<% end %>

  </form><h1>Buzz</h1>

<form method='post' action='/buzz'>
  <input type='text' name='buzz' placeholder='buzz here'>
  <input type='submit' value='Post buzz'>
</form>

<% @buzz.reverse.each do |peep| %>
  <ul>
    <li><%= buzz.buzz %></li>
    <li>Posted by @<%= User.get(buzz.user_id).username %> - <%= User.get(buzz.user_id).name %> - <%= buzz.time.strftime("%H:%M:%S") %> </li>
  </ul>
<% end %>
