<head>
  <title>Beehive</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" >

  <link rel="stylesheet" href="beehive.css" />
</head>

<body class = "home_page">
<% if !current_user %>
<div class = "signin_signup">
  <form action="/sessions/new">
  <input type="submit" value="Sign in">
  </form>
  <form action="/users/new">
  <input type="submit" value="Sign up">
  </form>
<% end %>
</div>

<body class = "home_page">
<div class = "buzz_submit">
<form method='post' action='/buzz'>
  <input type='text' name='buzz' placeholder="So, what's the buzz?">
  <input type='submit' value='Post'>
</form>
</div>

<div class="list-group">

  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Your Hive</h4>
  </a><br>
    <% @buzz.reverse.each do |buzz| %>
      <div class ="buzzfeed"
      <br>
      <%= buzz.buzz %><br>
      <i> Posted by <%= User.get(buzz.user_id).name %> - @<%= User.get(buzz.user_id).username %> - <%= buzz.time.strftime("%H:%M:%S") %><br><br></i>
      </div>
    <% end %>

</div>
