<html>
<head>
  <title>Beehive</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" >

  <link rel="stylesheet" href="beehive.css" />
</head>

  <div class = "jumbotron">
    BEEHIVE
  </div>

  <div class = "welcome">
    <% if current_user %>
      Welcome, <%= current_user.email %>!
  </div>
  <div class = "signout">
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% end %>
  </div>
    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  <%= yield %>

</html>
